.row {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.icon-name {
    display: flex;
    align-items: center;
}

.react {
    width: 70px;
    margin-right: 10px;
}

.java {
    font-size: medium;
    font-family: sans-serif;
    line-height: 22px;
}

@media (max-width: 992px) {
    .icon-name {
        justify-content: center;
        margin-bottom: 20px;
    }
}