* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.intro {
    background-image: url(./img/bg-6.webp);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 92%, 50% 100%, 50% 100%, 50% 100%, 0 92%, 0% 35%, 0 0);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.ghilman {
    background-color: white;
    border-radius: 50px;
    width: 150px;
    border-radius: 100%;
    padding: 0px 3px;
    color: white;
}

.name {
    margin-top: 20px;
    font-size: 55px;
    font-weight: 800px;
    color: white;
    line-height: 60px;
}

.degree {
    font-size: 25px;
    color: white;
}

.icons {
    margin: 10px 0px 100px 0px;
}

.linkedin {
    width: 50px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.twitter {
    border-radius: 100%;
    cursor: pointer;
    width: 50px;
}
.insta{
    width: 45px;
    margin-left: 10px;
}
@media (max-width: 400px){
    .name{
        font-size: 40px;
    }
    .degree{
        font-size: 20px;
    }
    .linkedin {
        width: 30px;
    }
    .twitter{
        width: 30px;
    }
    .insta{
        width: 35px;
    }
}

/* /////////////    BODY     //////////////// */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 84%;
    height: fit-content;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    background-color: white;  
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .05);
    margin: -100px 0px 80px 0px;
    position: relative;
    opacity: 1;
} 
.description {
    font-size: medium;
    font-family: sans-serif;
    line-height: 22px;
    margin-bottom: 18px;
}
 

.separater {
    margin: 45px 50px;
    border-bottom: 1px solid dimgrey;
    opacity: .2;
}

/* //////////    ARTICLES   ///////////// */

.articleSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
    font-family: sans-serif;
}

@media (max-width: 1500px) {
    .articleSection { 
        margin-bottom: 20px;
    }
}
@media (max-width: 768px){
    .articleSection { 
        justify-content: center;
    }
   
}

/* ////////////    EDUCATION     ///////////// */
.school-education { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.school { 
    width: 30%;
} 
.minhaj {
    font-size: large;
}

.matriculation {
    font-size: large;
}

.year {
    font-size: small;
}
@media (max-width: 1124px) {
    /* .school-education { 
        justify-content: center;
        align-items: center;
        padding-left: 110px;
    } */
    .school { 
        width: 45%;
    }
}
@media (max-width: 800px){
    .school { 
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
/* //////////////////     EXPERIENCE    /////////////// */
/* .all-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll; 
}

.experience2 {
    font-size: 60px;
    text-align: center;
}

.experience-one {
    width: 30rem; 
    margin-left: 30px;
    background-color: red;
}

.integrate {
    font-size: 30px;
}

.engineer {
    font-size: 20px;
} */

/* ///////////////    FOOTER     ///////////////////// */

.footer { 
    background-color: black; 
    text-align: center;
}

.connect {
    color: grey;
    padding: 110px 0px 30px 0px;
    font-size:  medium;
}

.copyright {
    color: grey;
    padding: 40px 0px 110px 0px;
    font-size:  medium;
} 

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linked {
    background-color: #191919;
    width: 20px;
    padding: 8px 18px;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.linked:hover {
    background-color: grey;
    cursor: pointer;
}

.blank {
    width: 35px;
    background-color: #191919;
    border-radius: 100%;
    padding: 5px;
    margin: 0px 5px 0px 5px;
}

.blank:hover {
    background-color: grey;
    cursor: pointer;
}

.black {
    width: 40px;
    background-color: #191919;
    padding: 7px 0px;
    border-radius: 100%;
    font-size: 30px;
}

.black:hover {
    background-color: grey;
    cursor: pointer;
}