.hobby {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    /* box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, .12) !important; */
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.12) !important;
    margin: 0px 0px 5px 0px;
}

.image5 {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.text {
    padding: 20px;
    font-size: medium;
    line-height: 22px;
    font-family: sans-serif;
}
@media (max-width: 1315px) {
    .hobby {
        width: 410px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width: 1311px) {
    .hobby {
        width: 405px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width: 1286px) {
    .hobby {
        width: 395px;
        margin: 0px 10px 0px 0px;
    }

}
@media (max-width:  1262px) {
    .hobby {
        width:  390px;
        margin: 0px 0px 0px 0px;
    }

}
@media (max-width:  1239px) {
    .hobby {
        width:  390px;
        margin: 0px 0px 0px 0px;
    }

}
@media (max-width:  1215px) {
    .hobby {
        width:  390px;
        margin: 0px 0px 0px 0px;
    }

}
@media (max-width:  1215px) {
    .hobby {
        width:  400px;
        margin: 0px 0px 0px 0px;
    }

}
@media (max-width:  1199px) {
    .hobby {
        width: 100%;
        margin: 0px 0px 0px 0px;
    }

}
@media (max-width:  1167px) {
    .hobby {
        width:  390px;
        margin: 0px 0px 20px 0px;
    }

} @media (max-width:  1143px) {
    .hobby {
        width:  310px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  1120px) {
    .hobby {
        width:  300px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  1096px) {
    .hobby {
        width:  290px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:1072px) {
    .hobby {
        width:  280px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  1048px) {
    .hobby {
        width:  270px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  1024px) {
    .hobby {
        width:  260px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  1000px) {
    .hobby {
        width:  250px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  977px) {
    .hobby {
        width:  240px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  953px) {
    .hobby {
        width:  230px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  929px) {
    .hobby {
        width:  220px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  905px) {
    .hobby {
        width:  210px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  881px) {
    .hobby {
        width:  200px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  858px) {
    .hobby {
        width:  190px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  834px) {
    .hobby {
        width:  180px;
        margin: 0px 0px 20px 0px;
    }

}
@media (max-width:  810px) {
    .hobby {
        width:  200px;
        margin: 0px 10px 20px 0px;
    }

}
@media (max-width:  768px) {
    .hobby {
        /* width:  530px; */
        width: 100%;
    }
    .image5{
        height: 50%;
    }
    

}