/* .all-experience {
    display: flex;
    width: 100%;
    position: relative;
    height: 300px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.experience-one {
    background-color: red;
    margin: 20px;
    width: 45%;
    height: 50vh;
    padding: 10px;
}

.tools {
    font-size: small;
}

.engineer {
    font-size: large;
}

.integrate {
    font-size: x-large;
} */






.flex-container {
    display: flex;
    width: 100%;
}

.flex-item {
    /* flex: 1 auto; */
    overflow-y: hidden;
    flex: 0 0 100%;
    overflow-x: scroll;
    white-space: nowrap;
    background: red;
    height: 400px;
}

.middle {
    /* width: 300px; */
    flex: 0 0 300px;
    background: aqua;
    height: 400px;
}